#legend {
	float: right;
	padding-right: 5px;
}
div > i {
	margin-bottom:0;
}
.box-link {
	text-decoration: none;
	color:black;
}
a:hover {
	text-decoration: none;
}
.vcenter {
	display: flex;
	justify-content: center;
	align-items: center;                                        
}
#lastUpdateDateHolder {
	margin-right: 10px;
	padding-bottom: 20px;
}
/**
 * Container AD Box is 175px tall
 * Image Holder is 140px tall (holds sdo image and up/down image)
 * SDO Image Holder is 116px tall (holds sdo image only)
 * Connection status and connection image are (140-116 = 24px) 
 */
.container-ad-box {
	height:175px;
}
.image-holder {
	height: 140px;
}
.sdo-image-holder {
	height: 116px;
}
.sdo-image-holder > img {			
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.connection-status {
	height: 24px;
	margin-top: 10px;
}
.connection-status > img {
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
@media (max-width: 768px) {
	#legend {
		float: none !important;
		margin-bottom: 10px;
	}
	#legend > img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}